// color
$white:#fff;
$black:#000;
$wine:#A00404;
$silver:#96A9C4;
$stone:#415165;

// text-size 20 24 32 80
$text-s:20px; // 1.25rem
$text-m:24px; // 1.5rem
$text-l:32px; // 2rem
$text-xl:80px; // 5rem

// font family
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-SF:"SF Pro";

//line height 

//path
$path: "../public/";


